
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    background-color: #f3f3f3;;
}
    header{
    display: grid; 
    grid-template-columns: auto 1fr auto;
    
    top: 0; 
    z-index: 2;
    width: 100%;
}
.desktop{
    display: none; 
}
@media(min-width: 768px){
    .desktop{
        display: initial;
    }
}

body{
    font-family: "M PLUS 1p", sans-serif;
    font-weight: 700;
    font-style: normal;
    color:#2A2B33;
}

.logo{
    height: 40px;
    width: 80px;
    display: flex;
    margin: 10px;

}
.rightdesktop .item {
    list-style-type: none;
    margin: -15px;
    display: inline-block;
    height: 40px;
    width: 80px;
    display: flex;
}

header nav a{
    text-decoration: none;
    padding: 5px 10px;
    color: #2A2B33;
}
header nav.center{
    text-align: center;
}
header nav.right{
    text-align: right;
    display: flex;
}

.first{
    background-image: url('images/plane3.jpeg');
    height:60vh;
    background-size: cover;
    background-position: center center;
   

}

h1,h2{
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 40px;
    text-align: center;

}
p{
    text-align: center;
    padding-left: 100px;
    padding-right:100px;
    
}
.button-container{
    display: flex; 
    justify-content: center; 
    align-items: center;
}
 .Learn{
    display: inline-block; 
    /* height: 25x;
    width: 50px; */
    background-color: #1929A5;
    text-align: center; 
    display: inline-block;
    padding: 10px 50px;
    font-size: 16px;
    color: #ffffff;
    border-radius: 5px;
    margin-top: 20px;
    text-decoration: none;
 }
 .button{
    text-decoration: none;
    color: #ffffff;

 }

.second{
    height:50%;
    border-bottom: 1px solid rgb(218,217,217);
    margin: 10px; 
    padding-bottom: 20px;
    

    
}
.container{
    position: relative;
}
#cont{
    display: flex; 
    justify-content: center;
    align-items: center; 
    min-height: 400px;
    position: relative;
   
    

}
#cont div{
    height: 370px;
    width: 335px;
    margin: 10px;
    text-align: center;
    background-size: cover;
    background-position: center center;
    background-attachment: absolute;
    
    
    
}
#cont div a{
    text-decoration: none;
    color: #ffffff;
 
    margin-bottom: 0.5rem
    
}
.third{
    border-bottom: 1px solid rgb(218,217,217);
    margin: 10px;
    height:80vh;
}

@media(min-width: 768px){
    .second{
        flex: 0 0 auto;
        width:100%;

    }
}
.fourth{
    border-bottom: 1px solid rgb(218,217,217);
    margin: 10px;
    height:400vh;

}
.wrapper{
    justify-self: center;
    justify-content: center; 
    height: 60vh;
    width: 300px;
    margin: 60px;

}
.employeee{
   height: 50vh;

}

